.PageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.Logo{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 12%;
    height: 8%;
    background-image: url('../assets/logo-Senai.png');
    background-repeat: no-repeat;
}