.OsContainer{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 75%;
    margin-top: 5%;
    justify-content: start;
    // background-color: rgba(255, 255, 255, 0.2);
}

.Search{
    width: 50%;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: solid 3px #D9D9D9;
    border-radius: 10px;
    font-size: 16px;
    align-self: center;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

.Button{
    width: 13%;
    padding: 15px;
    margin-top: 5%;
    font-size: 16px;
    color: #fff;
    background-color: rgb(19, 212, 19);
    border: none;
    border-radius: 15px;
    justify-self: start;

    &:active {
    background-color: #49b65b;
    box-shadow: 2px 2px 4px #0131019f inset;
  }
}

.ListOS{
    display: flex;
    height: 100%;
    margin-top: 2%;
    color:#fff;
    overflow-y: auto;
    scrollbar-width: none;


    ul{
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
        
    }

    li{
        display: flex;
        justify-content: space-around;

    }

    h3 {
        padding: 0 20px;
        font-size: 16px;
        font-weight: normal;
    }

    h3:not(:last-child){
        border-right: 1px solid #ccc;
    }
}

.Item{
    border: solid 3px #D9D9D9;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    
}

.User{
    display: flex;
    align-self: end;
    font-size: 16px;
    color: #fff;
    
    h3{
        font-weight: normal;
        margin-right: 30px;
    }
}